.button,
.btn {
    border: none;
    padding: 0.6rem 1rem;
    border-radius: 0.5rem;
    cursor: pointer;
    font-weight: 600;
}

.btn-small {
    padding: 0.2rem 0.3rem;
    font-size: 0.525rem;
    border-radius: 0.3rem;
}

.button-primary,
.btn-primary {
    background-color: var(--blue-grey);
    color: var(--font-clr-white);
    box-shadow: inset 0px 0px 4px var(--dark-blue-grey);
    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: var(--dark-blue-grey);
    }
}

.btn-accent {
    background-color: var(--accent);
    color: var(--font-clr-white);
    box-shadow: inset 0px 0px 8px rgb(0, 0, 0, 0.4);
    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: var(--accent-light);
    }
}

.btn-delete {
    background-color: var(--red);
    color: var(--font-clr-white);
    box-shadow: inset 0px 0px 4px var(--dark-red);
    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: var(--dark-red);
    }
}

.btn-submit,
.btn-confirm {
    background-color: var(--green);
    color: var(--font-clr-white);
    box-shadow: inset 0px 0px 4px var(--grey);
    transition: all 0.2s ease-in-out;

    &:hover {
        background-color: var(--dark-green);
    }
}

.btn-login {
    width: 100%;
}