form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
}

.form-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    padding: 1rem;
    background-color: var(--white);
    box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0.5rem;

    .form-description {
        font-size: .9rem;
        color: var(--font-clr-primary);
        text-align: center;
    }

    & label {
        color: var(--font-clr-primary);
    }

    /* & .input-group {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 0.5rem;
    } */
    
    /* & input,
    & select {
        width: 100%;
        padding: 0.5rem;
        border-radius: 0.5rem;
        border: 1px solid var(--grey);
        font-size: 1rem;
        color: var(--font-clr-primary);
        background-color: var(--white);
    } */
}

 .row-group {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
}

.column-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
}

.added-parties-list {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.7rem;
    padding: .7rem;
    background-color: var(--dark-white);
    border: 1px solid var(--grey);
    border-radius: 0.5rem;
    flex-wrap: wrap;
}

.added-party-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    padding: 0.1rem 0.3rem;
    font-size: 0.9rem;
    border-radius: 0.5rem;
    background-color: var(--accent-light);
    box-shadow: inset 0px 0px 10px var(--accent-medium);
    border: 1px solid var(--accent);

    & button {
        background-color: transparent;
        border: none;
        color: var(--dark-red);
        transition:all 0.2s ease-in-out;
        padding: 0.2rem;

        &:hover {
            cursor: pointer;
            color: var(--font-clr-primary);
        }
    }
}

.input-group-small,
.small-width {
    flex: 1;
}

.input-group-medium,
.medium-width {
    flex: 2;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


input[type=number] {
  -moz-appearance: textfield;
}

