.table-container {
    width: auto;
    max-width: 1200px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
    border-radius: .5rem;
    overflow: hidden;
}

table {
    width: auto;
    border-collapse: collapse;
}

th, td {
    white-space: nowrap;
    padding: 0.5rem 0.75rem;
}
thead,
.table-header {
    background-color: var(--primary);
    color: var(--font-clr-white);
}

tr {
    padding: 0.5rem 0.75rem;
}

tr:nth-child(even) {
    background-color: var(--light-blue-grey);
}

td {
    overflow: hidden;
    text-align: center;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-align-right {
    text-align: right;
}

.text-align-left {
    text-align: left;
}

.total-votes-text {
    text-align: right;
    margin-top: .5rem;
    margin-bottom: .5rem;
    margin-right: 1rem;
}

.lot-drawing {
    background-color: var(--accent-light);    
}

.lot-drawing-won {
    background-color: var(--light-green);
}

.result-tables-container {
    display: flex;
    gap: 2rem;
    width: 100%;
}

.result-tables-aside {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
    gap: 2rem;
}

.party-group-item {
    color: var(--font-clr-primary);
}